body {
    background-color: #d4d2d2;
  }
*{
    font-family:"Eras ITC";
}
.content {
    display: flex;
    height: auto;
    width: 100%;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 10%;
    margin-top: 7%;
}
.add {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 30%;
    height: 700px;
    border-radius: 50px;
    background-color: #167685;
    color: white;
    text-align: center;
    justify-content: center;
}
.rmv {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 30%;
    height: 700px;
    border-radius: 50px;
    background-color: #167685;
    color: white;
    text-align: center;
    justify-content: center;
}
.addcontent {
    display: flex;
    flex-direction: column;
    border-radius: 50px;
    background-color: #80BFC9;
    width: 80%;
    height: 500px;
    align-self: center;
    margin-top: 30px;
}
.inputs {
    margin-top: 30px;
}
h2{
    font-size:30px;
    color: #f0f8ff;
  }
#bt1, #bt2 {
    color: white;
    width: 40%;
    height: 70px;
    border-radius: 30px;
    border: none;
    background-color: #DF7C35;
    font-size: 120%;
    cursor: pointer;
    transition: 0.3s;
}
.footer{
    height:40px;
  }
#bt1{
    margin-top:30px;
}
#bt1:hover {
    box-shadow: 3px 10px 5px #656a7f;
    transition-duration: 0.3s;
}
.inpt1, .inpt2 {
    width: 70%;
    height: 50px;
    border-radius: 40px;
    border: none;
    margin-bottom: 35px;
    padding-left: 30px;
}
.inpt2{
    margin-top:140px;
    margin-bottom:40px;
}
#bt2:hover {
    box-shadow: 3px 10px 5px #656a7f;
    transition-duration: 0.3s;
  }
#bt{
    color: white;
    padding: 3px;
    width: 110%;
    height: 70px;
    border-radius: 30px;
    background-color: #DF7C35;
    font-size: 120%;
    cursor: pointer;
    transition: ease-in-out 0.3s;
    border: solid 0px;
}
#bt:hover {
    box-shadow: 3px 10px 5px #656a7f;
    transition-duration: 0.3s;
}
  @media only screen and (max-width: 570px){
  .add, .rmv{
    width:80%;
    margin-bottom:20px;
  }
  #bt{
    margin-top:20px;
    margin-bottom:40px;
  }
  }