body {
    background-color: #d4d3d2;
}
h1{
    font-size: 50px;
    text-align: center;
    margin-top: 70px;
    font-family: "Bree Serif", serif;
    color: #0a4750;
}
#pesquisa{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 15%;
    height: 30px;
    border: solid black 1px;
    border-radius: 5px;
    color: black;
}

.tabela{
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    height: auto;
    border: 2px solid #0a4750;
    border-radius: 5px;
    border-collapse: collapse;
}
.tabela td, tr{
    border: 1px solid black;
    text-align: center;
    padding: 10px;
    background-color: #ffffff;
}
.tabela th{
    padding: 10px;
    text-align: center;
    font-weight: 900;
    font-family: "Bree Serif", serif;
    background-color: #80BFC9;
}