body {
  background-color: #d4d3d2;
}
header {
  color: white;
  display: flex;
  width: 100%;
  height: 100px;
  background-color: #6875aa;
  margin-top: -9px;
  padding-right: 17px;
  margin-left: -9px;
  justify-content: center;
  align-items: center;
  font-size: 50px;
  font-family: "Bree Serif", serif;
}
h1 {
  font-size: 50px;
  text-align: center;
  margin-top: 70px;
  font-family: "Bree Serif", serif;
}
#pesquisa {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 15%;
  height: 30px;
  border: solid black 1px;
  border-radius: 5px;
  color: black;
}

#buscar {
  margin-left: 35vw;
}

.tabela {
  margin-top: 40px;
  margin-left: auto;
  margin-right: auto;
  width: 70%;
  height: auto;
  border: 2px solid black;
  border-radius: 5px;
  border-collapse: collapse;
}
.tabela td,
tr {
  border: 1px solid black;
  text-align: center;
  padding: 10px;
  background-color: #ffffff;
}
.tabela th {
  padding: 10px;
  text-align: center;
  font-weight: 900;
  font-family: "Bree Serif", serif;
  background-color: #7f89b3;
}
