.sttitle {
  text-align: center;
  margin-top: 100px;
  font-family: "Bree Serif", serif;
  color: #df7c35;
  font-size: 59px;
  font-weight: bolder;
}
.stsub {
  font-family: "Bree Serif", serif;
  color: #565656;
  text-align: center;
  margin-top: 30px;
  font-weight: 500;
}
.stp {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 90%;
  align-items: center;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 70px;
  gap: 40%;
}
.stb1,
.stb2 {
  display: flex;
  background-color: #167685;
  border-radius: 20px;
  padding: 10px;
  height: 170px;
  width: 30%;
  padding: 10px;
  font-family: "Bree Serif", serif;
  font-size: 20px;
  color: #a0e4ee;
  text-align: center;
  align-items: center;
  justify-content: center;
  transition: ease-in-out 0.3s;
  text-decoration: none;
}
.stb1:hover,
.stb2:hover {
  background-color: #249bad;
  box-shadow: 3px 5px 5px #656a7f;
}
.stb1 {
  margin-bottom: 50px;
  margin-top: 30px;
}

@media only screen and (max-width: 570px) {
  .stb1,
  .stb2 {
    width: 30%;
    height: 200px;
    padding: 20px;
  }
  .stb1 {
    margin-top: 40px;
  }
}
