body {
  background-color: #d4d2d2;
}
header {
  color: white;
  display: flex;
  width: 100%;
  height: 100px;
  background-color: #6875aa;
  margin-top: -9px;
  padding-right: 17px;
  margin-left: -9px;
  text-align: center;
  justify-content: center;
  align-items: center;
  font-size: 50px;
  font-family: "Bree Serif", serif;
}
.content {
  display: flex;
  height: auto;
  width: 100%;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 10%;
  margin-top: 5%;
}
.add {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 30%;
  height: 700px;
  border-radius: 50px;
  background-color: #232530;
  color: white;
  font-family: "Bree Serif", serif;
  text-align: center;
  justify-content: center;
}
.rmv {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 30%;
  height: 700px;
  border-radius: 50px;
  background-color: #232530;
  color: white;
  font-family: "Bree Serif", serif;
  text-align: center;
  justify-content: center;
}
.addcontent {
  display: flex;
  flex-direction: column;
  border-radius: 50px;
  background-color: #8592c8;
  width: 80%;
  height: 500px;
  align-self: center;
  margin-top: 30px;
}

.inputs {
  margin-top: 30px;
}
#bt1, #bt2 {
  color: #c2c2c2;
  width: 40%;
  height: 70px;
  border-radius: 30px;
  border: none;
  background-color: #535769;
  font-family: "Bree Serif", serif;
  font-size: 140%;
  cursor: pointer;
  transition: 0.3s;
}
#bt1:hover {
  box-shadow: 3px 10px 5px #656a7f;
  transition-duration: 0.3s;
}
.inpt1, .inpt2 {
  width: 70%;
  height: 35%;
  border-radius: 40px;
  border: none;
  margin-bottom: 35px;
  padding-left: 30px;
}

#bt2:hover {
  box-shadow: 3px 10px 5px #656a7f;
  transition-duration: 0.3s;
}
#bt {
  color: #383f5a;
  border: 3px solid #4e598191;
  width: 100%;
  height: 70px;
  border-radius: 30px;
  background-color: #b0b3c5;
  font-family: "Bree Serif", serif;
  font-size: 140%;
  cursor: pointer;
  transition: ease-in-out 0.3s;
}
#bt:hover {
  box-shadow: 3px 10px 5px #656a7f;
  transition-duration: 0.3s;
}
